body{
    background-color: darksalmon;
}
h1 {
    color: cadetblue;
    text-align: center;
}
.control{
    width: 99%;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    background-color: #fff;
}

.activo {
    color: rgb(24,7,31);
    background-color: rgb(0,255,34);
}
#btnGuardar {
    background: darkturquoise;
    color: rgb(200, 219, 23);
}